body{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.conteneur-logo,.conteneur-titre,.conteneur-valider{
text-align:center;
margin-bottom:52px;
font-family: 'Amatic SC';
}

.titre{
    font-style: normal;
    font-weight: 400;
    font-size: 76px;
    line-height: 96px;
}

/* Style des boutons */
.btnOrange{
    width:239px;
    height:54px;
    background: #F17F29;
    box-shadow: 6px 6px 40px rgba(0, 0, 0, 0.25);
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    border:none;
    cursor:pointer;
}
/* Panier */
.panier{
    border:1px solid black;
    width: 90%;
}
.panier table th{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 55px;
    text-align: left;
}
.panier .footer-table{
    width: 90%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 55px;
}
.panier .footer-table p.div-inline{
    width:95%;
}
.panier .footer-table span.div-inline{
   width:initial;
}
.panier .footer-table p.conteneur-total{
    text-align: right;
    padding-right: 10px;
}
/* Produit du panier */
tr td{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 55px;
    text-align: center;
    
}
tr td img{
    width: 60px;
    height: 80px;
}
tr td p {
    display: inline-block;
    margin:0;
    position:relative;
    top:-30px;
    left:0;
}


/* Formulaire */
.conteneur-inline{width:80%;}

.div-inline{
    width:49%;
    display:inline-block;
}

label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
}

.label-grand{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 55px;
}

.label-petit{
    font-size: 15px;
    line-height: 24px;
}

.input-form{
    width:90%;
    height:35px;
    border:none;
    background: #D9D9D9;
    border-radius: 65px;
}

.cgu-cgv{margin-top:30px;}

.conteneur-valider{margin-top:100px;}

/*  POPUP   */
.popup {
    display: none;
  }
  .popup-back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba( 0, 0, 0, .25 )
  }
  .popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 25px;
    background: white;
    transform: translate(-50%, -50%);
    text-align:center;
    width:60%;
  }
  .popup-container h2{
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 90px;
  }
  .popup-container h3{
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 80px;
    margin-bottom:15px;
  }
  .popup-container p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: start;
    margin:0;
  }