body{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.conteneur-logo,.conteneur-titre,.conteneur-valider{
text-align:center;
margin-bottom:52px;
font-family: 'Amatic SC';
}

.titre{
    font-style: normal;
    font-weight: 400;
    font-size: 76px;
    line-height: 96px;
}
.titre-index{
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 96px;
}
.annonce{
    width:100%;
}

.présentation h2{
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 90px;
    text-align:center;

}
.présentation p{
    display: inline-block;
    width:45%;
    position:relative;
    bottom: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
    margin:25px;
}
.présentation .imgPrésentation{
    width:45%;
    margin:25px;
}
.présentation .feuilles{
    position: absolute;
    width: 185px;
    height: 140px;
    left: 510px;
    top: 1040px;

    background: url(./images_site/feuilles.png) no-repeat;
    background-size:cover;
    transform: matrix(-0.74, 0.67, 0.67, 0.74, 0, 0);
}
.présentation-produit h2{
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 90px;
    text-align:center;
}
.présentation-produit p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
}
div.produit{
    display:inline-block;
    width:17%;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
.produit img{
    width:70%;
}
.produit .nom-produit{
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 53px;
    margin:auto;
}


/* Style des boutons */
.btnOrange{
    width:239px;
    height:54px;
    background: #F17F29;
    box-shadow: 6px 6px 40px rgba(0, 0, 0, 0.25);
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    border:none;
    cursor:pointer;
}

/* Panier */
.panier{
    border:1px solid black;
    width: 90%;
}
.panier table th{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 55px;
    text-align: left;
}
.panier .footer-table{
    width: 90%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 55px;
}
.panier .footer-table p.div-inline{
    width:95%;
}
.panier .footer-table span.div-inline{
   width:initial;
}
.panier .footer-table p.conteneur-total{
    text-align: right;
    padding-right: 10px;
}
/* Produit du panier */
tr td{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 55px;
    text-align: center;
    
}
tr td img{
    width: 60px;
    height: 80px;
}
tr td p {
    display: inline-block;
    margin:0;
    position:relative;
    top:-30px;
    left:0;
}


/* Formulaire */
.conteneur-inline{width:80%;}

.div-inline{
    width:49%;
    display:inline-block;
}

label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
}

.label-grand{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 55px;
}

.label-petit{
    font-size: 15px;
    line-height: 24px;
}

.input-form{
    width:90%;
    height:35px;
    border:none;
    background: #D9D9D9;
    border-radius: 65px;
}

.cgu-cgv{margin-top:30px;}

.conteneur-valider{margin-top:100px;}

/*  POPUP   */
.popup {
    display: none;
  }
  .popup-back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba( 0, 0, 0, .25 )
  }
  .popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 25px;
    background: white;
    transform: translate(-50%, -50%);
    text-align:center;
    width:60%;
  }
  .popup-container h2{
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 90px;
  }
  .popup-container h3{
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 80px;
    margin-bottom:15px;
  }
  .popup-container p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: start;
    margin:0;
  }

  /* Footer */
  footer{
    display:flex;
    border-top: 5px solid #739E2C;
    margin-top: 20px;
    vertical-align: middle;
  }
  footer div.logo img{
    position:relative;
    top:80px;
  }
  footer>div{
    margin:0 20px;
  }
  footer div h3{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
  footer div p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  footer div.reseaux img {
    margin:0 10px;
  }